aiohttp==3.7.4.post0
alembic==1.7.4
async-timeout==3.0.1
asyncpg==0.24.0
attrs==21.2.0
backports.zoneinfo==0.2.1
chardet==4.0.0
greenlet==1.1.2
idna==3.2
importlib-metadata==4.8.1
importlib-resources==5.2.2
Mako==1.1.5
MarkupSafe==2.0.1
multidict==5.2.0
pydantic==1.8.2
pytz==2021.3
redis==3.5.3
SQLAlchemy==1.4.25
throttler==1.2.1
typing-extensions==3.10.0.2
tzlocal==3.0
yarl==1.7.0
zipp==3.6.0
